
  canvas {
    position:absolute; /* allows to scroll the shape */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
    mix-blend-mode:darken;
    z-index: -1;  /* puts the shape behind the font */
    overflow-y:hidden;
  }
 