
  canvas {
    position: fixed; /* allows to scroll the shape */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
    mix-blend-mode: normal;
    z-index: 0;  /* puts the shape behind the font */
    overflow: auto;
  }
 