

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mea+Culpa&family=Ole&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
    
     color: #666666;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-light .navbar-nav .nav-link {
     padding: 0 25px;
     color: #000;
     font-size: 16px;
     line-height: 20px;
}

.navigation.navbar-light .navbar-nav .nav-link:focus,
.navigation.navbar-light .navbar-nav .nav-link:hover {
     
     border-style: solid;
     border-color: violet;
     border-radius: 20px;
}

.navigation.navbar-light .navbar-nav .active>.nav-link,
.navigation.navbar-light .navbar-nav .nav-link.active,
.navigation.navbar-light .navbar-nav .nav-link.show,
.navigation.navbar-light .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background:    rgba(245, 245, 245, 0.680);
     width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
     position: fixed;
     z-index: 999;
}

.header .container{
     background:    rgba(245, 245, 245, 0) ;
     opacity: 100%;
     padding: 5px 15px  5px 15px;
     border-radius: 10px;
     width: 100%;
}
.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}
.web{
     display: block;
     height: 100%;
     width: 100%;

}


.fas fa-external-link-alt{
     padding: 20px;
}
.mobile{
     display: none;
}
.register{
     padding:15px;
}
.banner_main {
     background: #ffd4d4;
     background-size: 100% 100% 100%;
     background-repeat: no-repeat;
     padding-top: 200px;
     padding-bottom: 50px;
}

.text-bg{
     padding-top: 100px;
}
.text-bg h2{
     color: #555151;
     font-size: 24px;
     line-height: 40px;
       
}
.text-bg h1 {
     color: #555151;
     font-size: 60px;
     line-height: 80px;
     padding-bottom: 25px;
     font-weight: bold;
}

.text-bg span {
     color: #999999;
     font-size: 28px;
     line-height: 35px;
     font-weight: bold;
     border-bottom-style: ridge;
     border-color: bisque;
     padding: 5px;
}

.text-bg p {
     color: black;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
}
.btn-cont{
     margin-top: 40px;

}


.text-bg a {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 312px;
     height: 44px;
     text-align: center;
     display: inline-block;
     margin-bottom: 15px;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     margin: 0px;
}

.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0c0f38;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}
/* count down */
.count{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
/* background-color: #e6b3b3; */
/* background-image: linear-gradient(#ffd4d4,#e6b3b3); */
height: fit-content;
width: 100%;
padding-bottom: 40px;
padding-top: 40px;
border-radius: 20px;
z-index: 3;
position: sticky;
 }
#cdtext{
     font-size: 25px;
     font-weight: bold;
     z-index: 3;
     position: sticky;
     background: #ffd4d4;
}
/* .pinkf{
     color: rgb(255, 223, 223);
     /* font-family: sans-serif; */
     /* font-weight: lighter; */
     /* letter-spacing: 3px; */
     /* text-decoration: underline; */
     /* text-decoration-color: #ffffff; */

} */
/* .whitef{
     color: #fff;
} */
.countdown{
     /* padding-left: 2vw; */
     font-size: 44px;
     font-weight: bold;
}
.count ul{
     display: flex;
     /* flex: 1 0; */
}
.count li {
     display: inline-block;
     /* font-size: 25px; */
     list-style-type: none;
     padding: 1em;
     text-transform: uppercase;   
     background: #e6b3b3 ; 
     margin: 5px;
     border-radius: 5px;
     
   }
.count li span {
     display: flex;
     /* font-size: 30px; */
     justify-content: center;
     font-weight: bold;
     color: black;
   }

/* countdwon ends */
/** about section **/

.about {
     padding-top: 90px;
     /* margin: 20px; */
     padding: 90px 20px 90px;
     background-color: white;
     z-index: 3;
     position: sticky;
}

.about_us {
     text-align: center;
}
.about_us p{
     text-align: justify;
     padding-top: 30px;
     padding: 20px;
}
.about_us figure {
     margin: 0;
}

.about_us p {
     color: #0c0f38;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 50px;
}

.about_us a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.about_us a:hover {
     background-color: #0c0f38;
     color: #fff;
}


/** end About section **/
/* Timeline section start */
#timeline{
     z-index: 3;
     position:sticky;
     background: white;
     padding-bottom: 100px;
     overflow-x: hidden;
}

.timeline {
     position: relative;
     width: 660px;
     margin: 0 auto;
     margin-top: 20px;
     padding: 1em 0;
     list-style-type: none;
   }
   
   .timeline:before {
     position: absolute;
     left: 50%;
     top: 0;
     content: ' ';
     display: block;
     width: 6px;
     height: 100%;
     margin-left: -3px;
     background: rgb(80,80,80);
     background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
     background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
     background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
     background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
     background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
     
     z-index: 5;
   }
   
   .timeline li {
     padding: 1em 0;
   }
   
   .timeline li:after {
     content: "";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
   }
   
   .direction-l {
     position: relative;
     width: 300px;
     float: left;
     text-align: right;
   }
   
   .direction-r {
     position: relative;
     width: 300px;
     float: right;
   }
   
   .flag-wrapper {
     position: relative;
     display: inline-block;
     
     text-align: center;
   }
   
   .flag {
     position: relative;
     display: inline;
     background: rgb(248,248,248);
     padding: 6px 10px;
     border-radius: 5px;
     font-weight: 600;
     text-align: left;
     font-size: 30px;
   }
   
   .direction-l .flag {
     -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
     -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
     box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
   }
   
   .direction-r .flag {
     -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
     -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
     box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
   }
   
   .direction-l .flag:before,
   .direction-r .flag:before {
     position: absolute;
     top: 50%;
     right: -40px;
     content: ' ';
     display: block;
     width: 12px;
     height: 12px;
     margin-top: -10px;
     background: #fff;
     border-radius: 10px;
     border: 4px solid rgb(255,80,80);
     z-index: 10;
   }
   
   .direction-r .flag:before {
     left: -40px;
   }
   
   .direction-l .flag:after {
     content: "";
     position: absolute;
     left: 100%;
     top: 50%;
     height: 0;
     width: 0;
     margin-top: -8px;
     border: solid transparent;
     border-left-color: rgb(248,248,248);
     border-width: 8px;
     pointer-events: none;
   }
   
   .direction-r .flag:after {
     content: "";
     position: absolute;
     right: 100%;
     top: 50%;
     height: 0;
     width: 0;
     margin-top: -8px;
     border: solid transparent;
     border-right-color: rgb(248,248,248);
     border-width: 8px;
     pointer-events: none;
   }
   
   .time-wrapper {
     display: inline;
     
     line-height: 1em;
     font-size: 0.66666em;
     color: rgb(250,80,80);
     vertical-align: middle;
   }
   
   .direction-l .time-wrapper {
     float: left;
   }
   
   .direction-r .time-wrapper {
     float: right;
   }
   
   .time {
     display: inline-block;
     padding: 4px 6px;
     background: rgb(248,248,248);
   }
   
   .desc {
     margin: 1em 0.75em 0 0;
     
     font-size: 0.77777em;
     font-style: italic;
     line-height: 1.5em;
   }
   
   .direction-r .desc {
     margin: 1em 0 0 0.75em;
   }
   
   

/* Timeline section end */


/** track section **/

.track {
     
     padding: 60px 0;
     background: #fff4c2;
     font-family: Poppins;
     padding-top: 90px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.track-desc::-webkit-scrollbar {
     display: none;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
 .track-desc{
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }
.track .container{
     height: 550px;
     overflow-y: hidden;
    
}

.track .titlepage {
     text-align: center;
}

.track .titlepage h2 {
     
     padding-bottom: 20px;
}

/* .track .titlepage p {
     
} */

.track .track-box i {
     background:white;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: inline-block;
     padding-top: 19px;
     
}
.track .track-box i img {
     height: 70px;
}

.track .track-box i:hover {
     background: #fff4c2;
}

.track .track-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     
     display: block;
     font-weight: 500;
}

.track .track-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     border: #cecfd7 solid 2px;
     padding: 40px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
}

.track .track-box:hover {
     background: rgb(248, 212, 121);
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.track .track-box p {
     font-size: 15px;
     line-height: 24px;
     text-align: justify;
     
}

.read_more {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     font-family: Poppins;
     cursor: pointer;
     position: sticky;
     z-index: 1;
}

.read_more:hover {
     transition: all 0.4s ease-in;
     background: #8308eb;
     color: #fff;
     box-shadow: 4px 5px 7px rgba(49, 49, 49, 0.479);
}


/** end track section **/


/** prizes section **/

.prizes {
     
     background: #ffff;
     font-family: Poppins;
     padding: 90px 0px;
     z-index: 3;
     position: sticky;
     


}
/* .prizes .container{
     height: 500px;
     overflow-y: hidden;
     transition: height 0.6s ease-in-out;
} */
/* .prizes .container{
     height: 600px;
    overflow-y: hidden;
    transition: height 1s ease-in-out;
} */
.prizes .titlepage {
     text-align: center;
}

.prizes .titlepage h2 {
     padding-bottom: 20px;
}

.prizes .titlepage p {
     color: #090808;
}

.prizes .prizes-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.prizes .prizes-box {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px;
     
}

.prizes .prizes-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}


.prizes .prizes-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.035);
}

.prizes-btn {
     font-size: 16px;
     background-color: gold!important;
     color: black!important;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     cursor: pointer;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.prizes-btn:hover {
     background: goldenrod!important;
     color: black!important;
}

.prizes .prizes-box-spon h4 {
     padding: 20px 0px 20px 0px;
     font-size: 15px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
     padding-left: 30px;
     padding-top: 30px;
}
#celo{
     padding-top: 5px;
}
.prizes .prizes-box-spon {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px;
     justify-content: center;
     overflow-y: scroll;


     
}

.prizes .prizes-box-spon p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
     text-align: left;
    
}
.prizes .flip-card {
     background-color: transparent;
     width: auto;
     height: 150px;
     perspective: 1000px;
     padding-bottom: 20px;



     
   }
   
   .flip-card-inner {
     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     width: auto;
     height: 150px;
     display: flex;
     justify-content: center;
     

     
     /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
   }
   
   .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
     height: fit-content;
     width: 100%;
   }
   
   .flip-card-front, .flip-card-back {
     position: absolute;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;

     

     
     
   }
   
   .flip-card-front {
     justify-content: center;
     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     color: black;


   }
   
   .flip-card-back {

     transform: rotateY(180deg);
   
   }

   



/* .bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
} */


/** end prizes section **/


/** contact section **/

/* .contact {
     padding-top: 90px;
     font-family: Poppins;
     z-index: 2;
}

.main_form {
     background: #0c0f38;
     padding: 55px 55px;
     border-radius: 30px;
     margin-bottom: -58%;
     z-index: 2;
}

.contact .main_form .contactus {
     border: #fff solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     border-radius: 15px;
     width: 100%;
     height: 52px;
     background: #fff;
     color: #999999;
     font-size: 16px;
     z-index: 4;
}

.contact .main_form .textarea {
     margin-bottom: 25px;
     padding: 0px 19px;
     color: #999999 !important;
     width: 100%;
     border: #fff solid 1px;
     border-radius: 15px;
     padding-top: 38px;
     background: #fff;
}

.contact .main_form .send {
     font-size: 16px;
     transition: ease-in all 0.5s;
     background-color: #fff;
     color: #ef4259;
     padding: 12px 70px;
     margin: 0 auto;
     display: block;
     border-radius: 30px;
}

.contact .main_form .send:hover {
     background-color: #8308eb;
     transition: ease-in all 0.5s;
     color: #fff;
}

#contact *::placeholder {
     color: #999999;
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
} */


/** end contact section **/

/* Organizer section */
.organizer {
     
     padding: 60px 0;
     background:#c4e4fc;
     font-family: Poppins;
     padding-top: 90px;
     padding-bottom: 60px;
   
     
}
.organizer .titlepage {
     text-align: center;
}

.organizer .titlepage h2 {
     color: black;
}

.organizer .titlepage p {
     color: #fff;
}
.organizer .org-box h3 {
     padding-top: 20px;
     font-size: 16px;
     line-height: 25px;
     color: black;
     display: block;
     font-weight: 500;
}

.organizer .org-box {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: rgb(41, 23, 23) 0px 0px 10px
}

.organizer .org-box p {
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     color: black;
}
.organizer .org-box img {
     border-radius : 50%;
     height: 60%;
     width: 60%;
}

.organizer .org-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.035);
     position: sticky;
     z-index: 1;
     background:#c4e4fc;
}
.profile {
     font-size: 24px;
     background-color: #fff;
     padding: 10px 0px;
     color: #000;
     width: 100%;
     max-width: 50px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 50%;
}

.profile:hover {
     background: #8308eb;
     color: #fff;
}
/* End Organizer section */

/* faq section */

.faq-heading{
     border-bottom: #777;
     padding: 20px 60px;
 }
 .faq-container{
 display: flex;
 justify-content: center;
 flex-direction: column;
 }
 .hr-line{
   width: 90%;
   margin: auto;
   
 }
 /* Style the buttons that are used to open and close the faq-page body */
 .faq {
     
     background: white;
     font-family: Poppins;
     padding: 50px;
     z-index: 3;
     position: sticky;
     padding-bottom: 30px;
}

.faq .titlepage {
     text-align: center;
}

.faq .titlepage h2 {
     padding-bottom: 20px;
     color: black;
}

.faq .titlepage p {
     color: #090808;
}

 .faq-page {
     /* background-color: #eee; */
     color: #444;
     cursor: pointer;
     padding: 30px 20px;
     width: 90%;
     border: none;
     outline: none;
     transition: 0.4s;
     margin: auto;
     
 }
 .faq-body{
     margin: auto;
     /* text-align: center; */
    width: 90%; 
    padding: auto;
    background: white;
    position: sticky;
    z-index: 1;
    
    
 }
 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active,
 .faq-page:hover {
     background: white;
 }
 /* Style the faq-page panel. Note: hidden by default */
 .faq-body {
     padding: 0 18px;
     background: white;
     display: none;
     overflow: hidden;
 }
 .faq-page:after {
     content: '\02795';
     /* Unicode character for "plus" sign (+) */
     font-size: 13px;
     color: #777;
     float: right;
     margin-left: 5px;
 }
 .active:after {
     content: "\2796";
     /* Unicode character for "minus" sign (-) */
 }

/*end faq section */
/* Sponsor section */



.sponsor {
     
     background: #ffff;
     font-family: Poppins;
     padding-top: 90px;
     padding-bottom: 90px;
     z-index: 1;
     position: sticky;
}
.sponsor .titlepage {
     text-align: center;
     border-bottom-style: groove;
     border-color: grey;
     padding-bottom: 0px;
}

.sponsor .titlepage h2 {
     color: black;
     padding-bottom: 20px;
}

.sponsor .titlepage p {
     color: black;
}
.sponsor .sponsor-type {
     text-align: center;
     border-color: grey;
     padding-top: 40px;
     padding-bottom: 30px;
     /* background-image: url('https://i2.wp.com/files.123freevectors.com/wp-content/original/131286-gold-low-poly-background-template.jpg?w=800&q=95');
     background-repeat: no-repeat;
     background-size: cover; */
     border-bottom: grey;
     border-bottom-style: dotted;
     border-width: 0.5px;
}

.sponsor .sponsor-type h2{
     font-family: 'Great Vibes', cursive;
     color: black;
     -webkit-text-stroke-width: 0.0000000001px;
     -webkit-text-stroke-color: black;
     padding-top: 40;
     font-size: 50px;    
}

.sponsor .row{
     /* justify-content: space-evenly; */
     display: flex;
     justify-content: space-around;
     padding-bottom: 30px;
}

.sponsor .sponsor-pics{
     padding: 20px;
     display: flex; 
     justify-content: center;
     

}


.sponsor-pics:hover{
     transform: translate3D(0,-1px,0) scale(1.2);
     transition: ease-in all 0.2s;
     
}


.sponsors-list{
     padding-bottom: 100px;
}
.sponsor-us{
     margin-top: 50px;
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: whitesmoke;
     border-radius: 20px;
}
.sponsor-us h2{
     padding-top: 20px;
     color: black;
     text-align: center;
     font-size: 36px;
     
}
.sponsor-btn {
     font-size: 16px;
     background-color: blueviolet;
     color: white;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     border-radius: 7px;
}

.sponsor-btn:hover {
     background: blue;
     color: white;
}
/* END Sponsor Section */


/* Mentor Section */

.mentor {
     
     padding: 60px 0;
     background: #c4f8bd;
     font-family: Poppins;
     padding-top: 90px;
     padding-bottom: 60px;
   
     
}
.mentor .titlepage {
     text-align: center;
}

.mentor .titlepage h2 {
     color: black;
     padding-top: 50px;
}

.mentor .titlepage p {
     color: #fff;
}
.judges-space .row{
     display: flex;
     justify-content: center;
}
.mentor-space .row{
     display: flex;
     justify-content: center;
}

.mentor .org-box h3 {
     padding-top: 20px;
     font-size: 16px;
     line-height: 25px;
     color: black;
     display: block;
     font-weight: 500;
}

.mentor .org-box {
     text-align: center;
     height: fit-content;
     background-color: #c4f8bd;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: rgb(41, 23, 23) 0px 0px 10px;
     z-index: 3;
     position: sticky;
}

.mentor .org-box p {
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     color: black;
}
.mentor .org-box img {
     border-radius : 50%;
     height: 60%;
     width: 60%;
}

.mentor .org-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.035);
     position: sticky;
     z-index: 1;
     background: #c4f8bd;
}






/* End Mentor Section */

/* Contact Us  */

.socials{
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 10px;
}
.socials h3{
     vertical-align: center;
     padding-top: 15px;
     padding-left: 10px;
}
.socials i {
     color: white;
     font-size: 20px;
     /* line-height: 20px; */
     padding: 5px;
     border: whitesmoke;
     margin: 5px;
     border-style: ridge;
     border-radius: 20px ;
     position: sticky;
     justify-content: center;
     display: flex;
     z-index: 3;
}
.socials i:hover{
     background-color: violet;
     color: black;
}

/* End Contact US */

/** footer **/

.footer {
     font-family: Poppins;
     background: white;
     z-index: 0;
}


.footer-dark {
     padding:50px 0;
     color:#f0f9ff;
     background-color:#282d32;
   }
   
   .footer-dark h3 {
     margin-top:0;
     margin-bottom:12px;
     font-weight:bold;
     font-size:16px;
     color: white;
     text-align: center;
   }
   
   .footer-dark ul {
     padding:0;
     list-style:none;
     line-height:1.6;
     font-size:14px;
     margin-bottom:0;
   }
   
   .footer-dark ul a {
     color:inherit;
     text-decoration:none;
     opacity:0.6;
   }
   
   .footer-dark ul a:hover {
     opacity:0.8;
   }
   .footer-dark p{
        text-align: justify;
   }
   
   @media (max-width:767px) {
     .footer-dark .item:not(.social) {
       text-align:center;
       padding-bottom:20px;
     }
   }
   
   .footer-dark .item.text {
     margin-bottom:36px;
   }
   
   @media (max-width:767px) {
     .footer-dark .item.text {
       margin-bottom:0;
     }
     .footer-dark .container{
          display: flex;
          justify-content: center;
          flex-direction: column;
     }
     .footer-dark .row{
          display: flex;
          justify-content: center;
     }
   }
   
   .footer-dark .item.text p {
     opacity:0.6;
     margin-bottom:0;
     text-align: justify;
   }
   
   .footer-dark .item.social {
     text-align:center;
   }
   .about-gdsc{
        padding-left: 20px;
        padding-top: 20px;
   }
   @media (max-width:991px) {
     .footer-dark .item.social {
       text-align:center;
       margin-top:20px;
     }
   }
   
   .footer-dark .item.social > a {
     font-size:20px;
     width:36px;
     height:36px;
     line-height:36px;
     display:inline-block;
     text-align:center;
     border-radius:50%;
     box-shadow:0 0 0 1px rgba(255,255,255,0.4);
     margin:0 8px;
     color:#fff;
     opacity:0.75;
   }
   
   .footer-dark .item.social > a:hover {
     opacity:0.9;
   }
   
   .footer-dark .copyright {
     text-align:center;
     padding-top:24px;
     opacity:0.3;
     font-size:13px;
     margin-bottom:0;
   }
/* 
.copyright {
     padding: 20px 0px;
     background: #fff;
}

.copyright p {
     color: #1e1e1e;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #1e1e1e;
}

.copyright a:hover {
     color: #0c0f38;
} */


/** end footer **/

