

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mea+Culpa&family=Ole&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
    
     color: #666666;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-light .navbar-nav .nav-link {
     padding: 0 25px;
     color: #000;
     font-size: 16px;
     line-height: 20px;
}

.navigation.navbar-light .navbar-nav .nav-link:focus,
.navigation.navbar-light .navbar-nav .nav-link:hover {
     
     border-style: solid;
     border-color: violet;
     border-radius: 20px;
}

.navigation.navbar-light .navbar-nav .active>.nav-link,
.navigation.navbar-light .navbar-nav .nav-link.active,
.navigation.navbar-light .navbar-nav .nav-link.show,
.navigation.navbar-light .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background: rgba(255, 255, 255, 0);
     width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
     position: fixed;
     z-index: 999;
}

.header .container{
     background:    rgba(245, 245, 245, 0.680) ;
     opacity: 100%;
     padding: 5px 15px  5px 15px;
     border-radius: 10px;
}
.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}
.web{
     display: block;
     height: 100%;
     width: 100%;

}


.fas fa-external-link-alt{
     padding: 20px;
}
.mobile{
     display: none;
}
.register{
     padding:15px;
}
.banner_main {
     background: #ffd4d4;
     background-size: 100% 100% 100%;
     background-repeat: no-repeat;
     padding-top: 200px;
     padding-bottom: 200px;
}

.text-bg{
     padding-top: 100px;
}
.text-bg h2{
     color: #555151;
     font-size: 24px;
     line-height: 40px;
       
}
.text-bg h1 {
     color: #555151;
     font-size: 60px;
     line-height: 80px;
     padding-bottom: 25px;
     font-weight: bold;
}

.text-bg span {
     color: #999999;
     font-size: 28px;
     line-height: 35px;
     font-weight: bold;
     border-bottom-style: ridge;
     border-color: bisque;
     padding: 5px;
}

.text-bg p {
     color: black;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
}
.btn-cont{
     margin-top: 40px;

}


.text-bg a {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 312px;
     height: 44px;
     text-align: center;
     display: inline-block;
     margin-bottom: 15px;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     margin: 0px;
}

.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0c0f38;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}


/** about section **/

.about {
     padding-top: 90px;
     /* margin: 20px; */
     padding: 90px 20px 90px;
     background-color: white;
     z-index: 3;
     position: sticky;
}

.about_us {
     text-align: center;
}
.about_us p{
     text-align: justify;
     padding-top: 30px;
     padding: 20px;
}
.about_us figure {
     margin: 0;
}

.about_us p {
     color: #0c0f38;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 50px;
}

.about_us a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.about_us a:hover {
     background-color: #0c0f38;
     color: #fff;
}


/** end About section **/


/** track section **/

.track {
     
     padding: 60px 0;
     background: #fff4c2;
     font-family: Poppins;
     padding-top: 90px;
}
.track .container{
     height: 420px;
     overflow-y: hidden;
     transition: height 1s ease-in-out;
}
.track .titlepage {
     text-align: center;
}

.track .titlepage h2 {
     
     padding-bottom: 20px;
}

/* .track .titlepage p {
     
} */

.track .track-box i {
     background:white;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: inline-block;
     padding-top: 19px;
     
}
.track .track-box i img {
     height: 70px;
}

.track .track-box i:hover {
     background: #fff4c2;
}

.track .track-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     
     display: block;
     font-weight: 500;
}

.track .track-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     border: #cecfd7 solid 2px;
     padding: 40px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
}

.track .track-box:hover {
     background: rgb(245, 193, 63);
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.track .track-box p {
     font-size: 16px;
     line-height: 24px;
     
}

.read_more {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     font-family: Poppins;
     cursor: pointer;
     position: sticky;
     z-index: 1;
}

.read_more:hover {
     transition: all 0.4s ease-in;
     background: #8308eb;
     color: #fff;
     box-shadow: 4px 5px 7px rgba(49, 49, 49, 0.479);
}


/** end track section **/


/** prizes section **/

.prizes {
     
     background: #ffff;
     font-family: Poppins;
     padding: 90px 0px;
     z-index: 3;
     position: sticky;


}
/* .prizes .container{
     height: 600px;
    overflow-y: hidden;
    transition: height 1s ease-in-out;
} */
.prizes .titlepage {
     text-align: center;
}

.prizes .titlepage h2 {
     padding-bottom: 20px;
}

.prizes .titlepage p {
     color: #090808;
}

.prizes .prizes-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.prizes .prizes-box {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.prizes .prizes-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}


.prizes .prizes-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.prizes-btn {
     font-size: 16px;
     background-color: gold!important;
     color: black!important;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     cursor: pointer;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.prizes-btn:hover {
     background: goldenrod!important;
     color: black!important;
}

.prizes .prizes-box-spon h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.prizes .prizes-box-spon {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px;
     
}
.prizes img{
    width: fit-content;
}
.prizes .prizes-box-spon p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
     text-align: justify;
     width: fit-content;
}
.prizes .flip-card {
     background-color: transparent;
     width: 100%;
     height: 120px;
     perspective: 1000px;
   }
   
   .flip-card-inner {
     position: relative;

     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
   }
   
   .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
   }
   
   .flip-card-front, .flip-card-back {
     position: absolute;

     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     width: fit-content;
     
   }
   
   .flip-card-front {
     
     color: black;
   }
   
   .flip-card-back {
     
     color: white;
     transform: rotateY(180deg);
   
   }


/* .bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
} */


/** end prizes section **/


/** contact section **/

/* .contact {
     padding-top: 90px;
     font-family: Poppins;
     z-index: 2;
}

.main_form {
     background: #0c0f38;
     padding: 55px 55px;
     border-radius: 30px;
     margin-bottom: -58%;
     z-index: 2;
}

.contact .main_form .contactus {
     border: #fff solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     border-radius: 15px;
     width: 100%;
     height: 52px;
     background: #fff;
     color: #999999;
     font-size: 16px;
     z-index: 4;
}

.contact .main_form .textarea {
     margin-bottom: 25px;
     padding: 0px 19px;
     color: #999999 !important;
     width: 100%;
     border: #fff solid 1px;
     border-radius: 15px;
     padding-top: 38px;
     background: #fff;
}

.contact .main_form .send {
     font-size: 16px;
     transition: ease-in all 0.5s;
     background-color: #fff;
     color: #ef4259;
     padding: 12px 70px;
     margin: 0 auto;
     display: block;
     border-radius: 30px;
}

.contact .main_form .send:hover {
     background-color: #8308eb;
     transition: ease-in all 0.5s;
     color: #fff;
}

#contact *::placeholder {
     color: #999999;
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
} */


/** end contact section **/

/* Organizer section */
.organizer {
     
     padding: 60px 0;
     background:#c4e4fc;
     font-family: Poppins;
     padding-top: 90px;
     padding-bottom: 60px;
   
     
}
.organizer .titlepage {
     text-align: center;
}

.organizer .titlepage h2 {
     color: black;
}

.organizer .titlepage p {
     color: #fff;
}
.organizer .org-box h3 {
     padding-top: 20px;
     font-size: 16px;
     line-height: 25px;
     color: black;
     display: block;
     font-weight: 500;
}

.organizer .org-box {
     text-align: center;
     height: fit-content;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: rgb(41, 23, 23) 0px 0px 10px
}

.organizer .org-box p {
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     color: black;
}
.organizer .org-box img {
     border-radius : 50%;
     height: 60%;
     width: 60%;
}

.organizer .org-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
     position: sticky;
     z-index: 1;
     background:#c4e4fc;
}
.profile {
     font-size: 24px;
     background-color: #fff;
     padding: 10px 0px;
     color: #000;
     width: 100%;
     max-width: 50px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 10px;
     border-radius: 50%;
}

.profile:hover {
     background: #8308eb;
     color: #fff;
}
/* End Organizer section */

/* faq section */

.faq-heading{
     border-bottom: #777;
     padding: 20px 60px;
 }
 .faq-container{
 display: flex;
 justify-content: center;
 flex-direction: column;
 }
 .hr-line{
   width: 90%;
   margin: auto;
   
 }
 /* Style the buttons that are used to open and close the faq-page body */
 .faq {
     
     background: #c4f8bd;
     font-family: Poppins;
     padding: 50px;
}

.faq .titlepage {
     text-align: center;
}

.faq .titlepage h2 {
     padding-bottom: 20px;
     color: black;
}

.faq .titlepage p {
     color: #090808;
}

 .faq-page {
     /* background-color: #eee; */
     color: #444;
     cursor: pointer;
     padding: 30px 20px;
     width: 90%;
     border: none;
     outline: none;
     transition: 0.4s;
     margin: auto;
     
 }
 .faq-body{
     margin: auto;
     /* text-align: center; */
    width: 90%; 
    padding: auto;
    background: #c4f8bd;
    position: sticky;
    z-index: 1;
    
    
 }
 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active,
 .faq-page:hover {
     background: #c4f8bd;
 }
 /* Style the faq-page panel. Note: hidden by default */
 .faq-body {
     padding: 0 18px;
     background: #c4f8bd;
     display: none;
     overflow: hidden;
 }
 .faq-page:after {
     content: '\02795';
     /* Unicode character for "plus" sign (+) */
     font-size: 13px;
     color: #777;
     float: right;
     margin-left: 5px;
 }
 .active:after {
     content: "\2796";
     /* Unicode character for "minus" sign (-) */
 }

/*end faq section */
/* Sponsor section */
.sponsor {
     
     background: #ffff;
     font-family: Poppins;
     padding-top: 90px;
     padding-bottom: 90px;
     z-index: 1;
     position: sticky;
}
.sponsor .titlepage {
     text-align: center;
     border-bottom-style: groove;
     border-color: grey;
     padding-bottom: 0px;
}

.sponsor .titlepage h2 {
     color: black;
     padding-bottom: 20px;
}

.sponsor .titlepage p {
     color: black;
}
.sponsor .gold-sponsor {
     text-align: center;
     border-color: grey;
     padding-top: 30px;
     padding-bottom: 30px;
}

.sponsor .gold-sponsor h2{
     font-family: 'Great Vibes', cursive;
     color: black;
     -webkit-text-stroke-width: 0.0000000001px;
     -webkit-text-stroke-color: black;
     padding-top: 40;
     padding-bottom: 20px;
     font-size: 50px;    
}
.sponsor .silver-sponsor {
     text-align: center;
     border-color: grey;
     padding-top: 40px;
     padding-bottom: 20px;
}

.sponsor .silver-sponsor h2{
     font-family: 'Great Vibes', cursive;
     color: black;
     -webkit-text-stroke-width: 0.0001px;
     -webkit-text-stroke-color: black;
     padding-bottom: 20px;
     font-size: 50px;    
}
.sponsor .row{
     justify-content: space-evenly;
}

.sponsor .sponsor-pics{
     padding: 15px;
}
.sponsor-pics img{
     size: 100%;
}
.sponsors-list{
     padding-bottom: 100px;
}
.sponsor-us{
     margin-top: 50px;
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: whitesmoke;
     border-radius: 20px;
}
.sponsor-us h2{
     padding-top: 20px;
     color: black;
     text-align: center;
     font-size: 36px;
     
}
.sponsor-btn {
     font-size: 16px;
     background-color: blueviolet;
     color: white;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     border-radius: 7px;
}

.sponsor-btn:hover {
     background: blue;
     color: white;
}
/* END Sponsor Section */

/* Contact Us  */
.contact{
     background: white;
     z-index: 1;
     position: sticky;
}
.cont {
     text-align: center;
     margin-top: 10%;
    
     position: sticky;
     padding-bottom: 100px;
     
}

.cont h3 {
     color: black;
     font-size: 45px;
     line-height: 30px;
     font-weight: bold;
     padding: 30px 0px 0px 0px;
   
}

.cont span {
     color: black;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: black;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}
.cont i {
     color: black;
     font-size: 50px;
     line-height: 30px;
     padding: 30px;
     border: whitesmoke;
     margin: 5px;
     border-style: ridge;
     border-radius: 20px ;
}
.cont i:hover{
     background-color: violet;
     color: black;
}

/* End Contact US */

/** footer **/

.footer {
     font-family: Poppins;
     background: white;
     z-index: 0;
}


.footer-dark {
     padding:50px 0;
     color:#f0f9ff;
     background-color:#282d32;
   }
   
   .footer-dark h3 {
     margin-top:0;
     margin-bottom:12px;
     font-weight:bold;
     font-size:16px;
     color: white;
     text-align: center;
   }
   
   .footer-dark ul {
     padding:0;
     list-style:none;
     line-height:1.6;
     font-size:14px;
     margin-bottom:0;
   }
   
   .footer-dark ul a {
     color:inherit;
     text-decoration:none;
     opacity:0.6;
   }
   
   .footer-dark ul a:hover {
     opacity:0.8;
   }
   .footer-dark p{
        text-align: justify;
   }
   
   @media (max-width:767px) {
     .footer-dark .item:not(.social) {
       text-align:center;
       padding-bottom:20px;
     }
   }
   
   .footer-dark .item.text {
     margin-bottom:36px;
   }
   
   @media (max-width:767px) {
     .footer-dark .item.text {
       margin-bottom:0;
     }
   }
   
   .footer-dark .item.text p {
     opacity:0.6;
     margin-bottom:0;
     text-align: justify;
   }
   
   .footer-dark .item.social {
     text-align:center;
   }
   .about-gdsc{
        padding-left: 20px;
        padding-top: 20px;
   }
   @media (max-width:991px) {
     .footer-dark .item.social {
       text-align:center;
       margin-top:20px;
     }
   }
   
   .footer-dark .item.social > a {
     font-size:20px;
     width:36px;
     height:36px;
     line-height:36px;
     display:inline-block;
     text-align:center;
     border-radius:50%;
     box-shadow:0 0 0 1px rgba(255,255,255,0.4);
     margin:0 8px;
     color:#fff;
     opacity:0.75;
   }
   
   .footer-dark .item.social > a:hover {
     opacity:0.9;
   }
   
   .footer-dark .copyright {
     text-align:center;
     padding-top:24px;
     opacity:0.3;
     font-size:13px;
     margin-bottom:0;
   }
/* 
.copyright {
     padding: 20px 0px;
     background: #fff;
}

.copyright p {
     color: #1e1e1e;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #1e1e1e;
}

.copyright a:hover {
     color: #0c0f38;
} */


/** end footer **/

